lib/workflow-templates.json
{
  "emailFollowup": {
    "description": "Use this pattern when a lead or contact submits data via a form or external system and you need to immediately send them a personalized email and log the interaction. The Webhook receives the payload, a Code node formats the email body with the lead's details, Gmail sends it, and Google Sheets logs the record with a timestamp. Best for: lead intake, contact form responses, demo request confirmations.",
    "workflow": {
      "name": "Email Follow-up Automation",
      "nodes": [
        {
          "id": "a1b2c3d4-0001-0001-0001-000000000001",
          "name": "Webhook — Receive Lead",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [200, 300],
          "parameters": {
            "path": "lead-intake",
            "httpMethod": "POST",
            "responseMode": "lastNode",
            "options": {}
          }
        },
        {
          "id": "a1b2c3d4-0002-0002-0002-000000000002",
          "name": "Format Email Body",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [440, 300],
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const name = $input.item.json.name || 'there';\nconst business = $input.item.json.business || 'your business';\nconst email = $input.item.json.email;\nconst subject = `Welcome! We received your inquiry, ${name}`;\nconst body = `Hi ${name},\\n\\nThank you for reaching out! We received your message about ${business} and will be in touch within 24 hours.\\n\\nBest,\\nThe Team`;\nreturn { json: { to: email, subject, body, name, business, timestamp: new Date().toISOString() } };"
          }
        },
        {
          "id": "a1b2c3d4-0003-0003-0003-000000000003",
          "name": "Send Follow-up Email",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [680, 300],
          "parameters": {
            "operation": "send",
            "toList": "={{ $json.to }}",
            "subject": "={{ $json.subject }}",
            "message": "={{ $json.body }}",
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "a1b2c3d4-0004-0004-0004-000000000004",
          "name": "Log Lead to Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [920, 300],
          "parameters": {
            "operation": "append",
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Leads",
            "mappingMode": "autoMapInputData",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Webhook — Receive Lead": { "main": [[{ "node": "Format Email Body", "type": "main", "index": 0 }]] },
        "Format Email Body": { "main": [[{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]] },
        "Send Follow-up Email": { "main": [[{ "node": "Log Lead to Sheet", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "captionGenerator": {
    "description": "Use this pattern when you want to auto-generate social media content whenever a new row is added to a Google Sheet. The Sheets trigger fires on each new row containing topic info, an HTTP Request calls the Claude API to generate a caption, a Code node extracts the text, and Slack posts it to a team channel. Best for: content calendars, product launches, scheduled social posts.",
    "workflow": {
      "name": "Social Media Caption Generator",
      "nodes": [
        {
          "id": "b2c3d4e5-0001-0001-0001-000000000001",
          "name": "Sheets Trigger — New Row",
          "type": "n8n-nodes-base.googleSheetsTrigger",
          "typeVersion": 4,
          "position": [200, 300],
          "parameters": {
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Content Queue",
            "event": "rowAdded",
            "pollTimes": { "item": [{ "mode": "everyMinute" }] },
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "b2c3d4e5-0002-0002-0002-000000000002",
          "name": "Call Claude — Generate Caption",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [440, 300],
          "parameters": {
            "method": "POST",
            "url": "https://api.anthropic.com/v1/messages",
            "sendHeaders": true,
            "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "content-type", "value": "application/json" }] },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"messages\": [{ \"role\": \"user\", \"content\": \"Write a compelling LinkedIn caption for: \" + $json.topic + \". Keep it under 150 words with 3 hashtags and end with a question.\" }] } }}"
          }
        },
        {
          "id": "b2c3d4e5-0003-0003-0003-000000000003",
          "name": "Extract Caption Text",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [680, 300],
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const caption = $input.item.json.content?.[0]?.text || 'Caption generation failed.';\nreturn { json: { caption, topic: $input.item.json.topic || '', generatedAt: new Date().toISOString() } };"
          }
        },
        {
          "id": "b2c3d4e5-0004-0004-0004-000000000004",
          "name": "Post to Slack",
          "type": "n8n-nodes-base.slack",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "operation": "post",
            "channel": "#content-team",
            "text": "={{ '📝 New caption for: *' + $json.topic + '*\\n\\n' + $json.caption }}",
            "otherOptions": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Sheets Trigger — New Row": { "main": [[{ "node": "Call Claude — Generate Caption", "type": "main", "index": 0 }]] },
        "Call Claude — Generate Caption": { "main": [[{ "node": "Extract Caption Text", "type": "main", "index": 0 }]] },
        "Extract Caption Text": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "weeklyReport": {
    "description": "Use this pattern for any recurring automated report that pulls data from a source, summarizes it with AI, and delivers it via email. The Schedule trigger fires on a cron schedule, Google Sheets reads the relevant rows, an HTTP Request sends the raw data to Claude for summarization, and Gmail emails the formatted report. Best for: weekly performance digests, Monday morning briefings, end-of-month summaries.",
    "workflow": {
      "name": "Weekly Report Generator",
      "nodes": [
        {
          "id": "c3d4e5f6-0001-0001-0001-000000000001",
          "name": "Schedule — Every Monday 9am",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [200, 300],
          "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] } }
        },
        {
          "id": "c3d4e5f6-0002-0002-0002-000000000002",
          "name": "Read Last Week Data",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [440, 300],
          "parameters": {
            "operation": "read",
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Weekly Metrics",
            "options": { "returnAllMatches": true }
          },
          "credentials": {}
        },
        {
          "id": "c3d4e5f6-0003-0003-0003-000000000003",
          "name": "Summarize with Claude",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [680, 300],
          "parameters": {
            "method": "POST",
            "url": "https://api.anthropic.com/v1/messages",
            "sendHeaders": true,
            "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "content-type", "value": "application/json" }] },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 800, \"messages\": [{ \"role\": \"user\", \"content\": \"Summarize this weekly data in 3 bullet highlights, 1 concern, and 1 recommended action:\\n\" + JSON.stringify($input.all().map(i => i.json)) }] } }}"
          }
        },
        {
          "id": "c3d4e5f6-0004-0004-0004-000000000004",
          "name": "Email Report to Team",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "operation": "send",
            "toList": "team@yourcompany.com",
            "subject": "={{ 'Weekly Report — ' + new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}",
            "message": "={{ $json.content[0].text }}",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Schedule — Every Monday 9am": { "main": [[{ "node": "Read Last Week Data", "type": "main", "index": 0 }]] },
        "Read Last Week Data": { "main": [[{ "node": "Summarize with Claude", "type": "main", "index": 0 }]] },
        "Summarize with Claude": { "main": [[{ "node": "Email Report to Team", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "appointmentReminder": {
    "description": "Use this pattern for service businesses that manage appointments and need automated reminders sent 24 hours before. The Schedule trigger fires daily at 9am, Google Sheets reads tomorrow's appointment rows, a Code node filters by date, and Gmail sends personalized reminder emails to each patient or client. Best for: clinics, coaches, consultants, salons, any appointment-based business.",
    "workflow": {
      "name": "Appointment Reminder Automation",
      "nodes": [
        {
          "id": "d4e5f6a7-0001-0001-0001-000000000001",
          "name": "Daily Trigger — 9am",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [200, 300],
          "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] } }
        },
        {
          "id": "d4e5f6a7-0002-0002-0002-000000000002",
          "name": "Get All Appointments",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [440, 300],
          "parameters": {
            "operation": "read",
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Appointments",
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "d4e5f6a7-0003-0003-0003-000000000003",
          "name": "Filter Tomorrow's Bookings",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [680, 300],
          "parameters": {
            "mode": "runOnceForAllItems",
            "jsCode": "const tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tDate = tomorrow.toISOString().split('T')[0];\nreturn items.filter(i => i.json.appointment_date === tDate);"
          }
        },
        {
          "id": "d4e5f6a7-0004-0004-0004-000000000004",
          "name": "Send Reminder Email",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "operation": "send",
            "toList": "={{ $json.client_email }}",
            "subject": "={{ 'Reminder: Your appointment tomorrow at ' + $json.appointment_time }}",
            "message": "={{ 'Hi ' + $json.client_name + ',\\n\\nThis is a reminder of your appointment tomorrow at ' + $json.appointment_time + '.\\n\\nPlease reply to confirm or call us to reschedule.\\n\\nThank you!' }}",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Daily Trigger — 9am": { "main": [[{ "node": "Get All Appointments", "type": "main", "index": 0 }]] },
        "Get All Appointments": { "main": [[{ "node": "Filter Tomorrow's Bookings", "type": "main", "index": 0 }]] },
        "Filter Tomorrow's Bookings": { "main": [[{ "node": "Send Reminder Email", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "leadEnrichment": {
    "description": "Use this pattern when new leads come in via webhook and you need to enrich and qualify them before routing to your CRM. The Webhook receives the lead, an HTTP Request calls Claude to score the lead as hot/warm/cold based on company details, an IF node routes hot leads to an immediate Slack alert while all leads are logged to a Google Sheet. Best for: B2B sales teams, agencies, SaaS businesses with inbound pipelines.",
    "workflow": {
      "name": "Lead Enrichment and Qualification",
      "nodes": [
        {
          "id": "e5f6a7b8-0001-0001-0001-000000000001",
          "name": "Webhook — New Lead",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [200, 300],
          "parameters": {
            "path": "new-lead",
            "httpMethod": "POST",
            "responseMode": "lastNode",
            "options": {}
          }
        },
        {
          "id": "e5f6a7b8-0002-0002-0002-000000000002",
          "name": "Score Lead with Claude",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [440, 300],
          "parameters": {
            "method": "POST",
            "url": "https://api.anthropic.com/v1/messages",
            "sendHeaders": true,
            "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "content-type", "value": "application/json" }] },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 200, \"messages\": [{ \"role\": \"user\", \"content\": \"Score this lead as hot, warm, or cold and give a 1-sentence reason. Lead: name=\" + $json.name + \", company=\" + $json.company + \", message=\" + $json.message + \". Reply with JSON: {score: 'hot|warm|cold', reason: '...'}\" }] } }}"
          }
        },
        {
          "id": "e5f6a7b8-0003-0003-0003-000000000003",
          "name": "Parse Score",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [680, 300],
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = $input.item.json.content?.[0]?.text || '{}';\nlet parsed = { score: 'warm', reason: 'Unable to parse' };\ntry { parsed = JSON.parse(raw.match(/\\{[^}]+\\}/)?.[0] || '{}'); } catch(e) {}\nreturn { json: { ...$input.item.json, score: parsed.score || 'warm', reason: parsed.reason || '' } };"
          }
        },
        {
          "id": "e5f6a7b8-0004-0004-0004-000000000004",
          "name": "IF — Hot Lead?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "conditions": {
              "options": { "caseSensitive": false },
              "conditions": [{ "leftValue": "={{ $json.score }}", "rightValue": "hot", "operator": { "type": "string", "operation": "equals" } }]
            }
          }
        },
        {
          "id": "e5f6a7b8-0005-0005-0005-000000000005",
          "name": "Slack Alert — Hot Lead",
          "type": "n8n-nodes-base.slack",
          "typeVersion": 2,
          "position": [1160, 200],
          "parameters": {
            "operation": "post",
            "channel": "#sales",
            "text": "={{ '🔥 HOT LEAD: ' + $json.name + ' from ' + $json.company + '\\nReason: ' + $json.reason + '\\nEmail: ' + $json.email }}",
            "otherOptions": {}
          },
          "credentials": {}
        },
        {
          "id": "e5f6a7b8-0006-0006-0006-000000000006",
          "name": "Log to CRM Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [1160, 400],
          "parameters": {
            "operation": "append",
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Leads",
            "mappingMode": "autoMapInputData",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Webhook — New Lead": { "main": [[{ "node": "Score Lead with Claude", "type": "main", "index": 0 }]] },
        "Score Lead with Claude": { "main": [[{ "node": "Parse Score", "type": "main", "index": 0 }]] },
        "Parse Score": { "main": [[{ "node": "IF — Hot Lead?", "type": "main", "index": 0 }]] },
        "IF — Hot Lead?": { "main": [[{ "node": "Slack Alert — Hot Lead", "type": "main", "index": 0 }], [{ "node": "Log to CRM Sheet", "type": "main", "index": 0 }]] },
        "Slack Alert — Hot Lead": { "main": [[{ "node": "Log to CRM Sheet", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "supportTriage": {
    "description": "Use this pattern to automatically classify incoming customer support emails, auto-reply to FAQs, and route complex issues to the right team member via Slack. A Gmail trigger watches the inbox, Claude classifies the email as FAQ/billing/technical/urgent, an IF node routes accordingly — simple questions get an instant auto-reply, complex ones get a Slack alert to the team. Best for: small customer support teams, SaaS companies, e-commerce stores.",
    "workflow": {
      "name": "Customer Support Email Triage",
      "nodes": [
        {
          "id": "f6a7b8c9-0001-0001-0001-000000000001",
          "name": "Gmail Trigger — New Email",
          "type": "n8n-nodes-base.gmailTrigger",
          "typeVersion": 1,
          "position": [200, 300],
          "parameters": {
            "pollTimes": { "item": [{ "mode": "everyMinute" }] },
            "filters": { "labelIds": ["INBOX", "UNREAD"] },
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "f6a7b8c9-0002-0002-0002-000000000002",
          "name": "Classify with Claude",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [440, 300],
          "parameters": {
            "method": "POST",
            "url": "https://api.anthropic.com/v1/messages",
            "sendHeaders": true,
            "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "content-type", "value": "application/json" }] },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"messages\": [{ \"role\": \"user\", \"content\": \"Classify this support email and draft a short reply if it's a FAQ. Email: \" + $json.text + \"\\n\\nReply with JSON: {category: 'faq|billing|technical|urgent', reply: 'draft reply or empty string if not FAQ', needs_human: true/false}\" }] } }}"
          }
        },
        {
          "id": "f6a7b8c9-0003-0003-0003-000000000003",
          "name": "Parse Classification",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [680, 300],
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = $input.item.json.content?.[0]?.text || '{}';\nlet parsed = { category: 'technical', reply: '', needs_human: true };\ntry { parsed = JSON.parse(raw.match(/\\{[\\s\\S]*\\}/)?.[0] || '{}'); } catch(e) {}\nreturn { json: { ...$input.item.json, ...parsed } };"
          }
        },
        {
          "id": "f6a7b8c9-0004-0004-0004-000000000004",
          "name": "IF — Needs Human?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "conditions": {
              "conditions": [{ "leftValue": "={{ $json.needs_human }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }]
            }
          }
        },
        {
          "id": "f6a7b8c9-0005-0005-0005-000000000005",
          "name": "Slack — Route to Team",
          "type": "n8n-nodes-base.slack",
          "typeVersion": 2,
          "position": [1160, 200],
          "parameters": {
            "operation": "post",
            "channel": "#support",
            "text": "={{ '📩 ' + $json.category.toUpperCase() + ' email from ' + $json.from + ':\\n' + $json.subject + '\\nNeeds human response.' }}",
            "otherOptions": {}
          },
          "credentials": {}
        },
        {
          "id": "f6a7b8c9-0006-0006-0006-000000000006",
          "name": "Auto-Reply FAQ",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [1160, 400],
          "parameters": {
            "operation": "reply",
            "messageId": "={{ $json.id }}",
            "message": "={{ $json.reply }}",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Gmail Trigger — New Email": { "main": [[{ "node": "Classify with Claude", "type": "main", "index": 0 }]] },
        "Classify with Claude": { "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]] },
        "Parse Classification": { "main": [[{ "node": "IF — Needs Human?", "type": "main", "index": 0 }]] },
        "IF — Needs Human?": { "main": [[{ "node": "Slack — Route to Team", "type": "main", "index": 0 }], [{ "node": "Auto-Reply FAQ", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "clientOnboarding": {
    "description": "Use this pattern when a new client signs up or a new hire joins and you want to automatically trigger a multi-step onboarding sequence. A Webhook fires on signup, Gmail sends a personalized welcome email immediately, a Google Sheets node logs the new client record, and a Slack message notifies the internal team to prepare. Best for: agencies, SaaS platforms, consulting firms, HR onboarding.",
    "workflow": {
      "name": "Client Onboarding Sequence",
      "nodes": [
        {
          "id": "a7b8c9d0-0001-0001-0001-000000000001",
          "name": "Webhook — New Signup",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [200, 300],
          "parameters": {
            "path": "new-client",
            "httpMethod": "POST",
            "responseMode": "lastNode",
            "options": {}
          }
        },
        {
          "id": "a7b8c9d0-0002-0002-0002-000000000002",
          "name": "Send Welcome Email",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [440, 300],
          "parameters": {
            "operation": "send",
            "toList": "={{ $json.email }}",
            "subject": "={{ 'Welcome aboard, ' + $json.name + '! Here\\'s what happens next' }}",
            "message": "={{ 'Hi ' + $json.name + ',\\n\\nWelcome! We\\'re thrilled to have you on board.\\n\\nHere\\'s what to expect in the next 48 hours:\\n1. A kickoff call invite will land in your inbox\\n2. You\\'ll get access to your client portal\\n3. Your dedicated account manager will reach out\\n\\nAny questions? Just reply to this email.\\n\\nBest,\\nThe Team' }}",
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "a7b8c9d0-0003-0003-0003-000000000003",
          "name": "Log to Client Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [680, 300],
          "parameters": {
            "operation": "append",
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Clients",
            "mappingMode": "autoMapInputData",
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "a7b8c9d0-0004-0004-0004-000000000004",
          "name": "Notify Team on Slack",
          "type": "n8n-nodes-base.slack",
          "typeVersion": 2,
          "position": [920, 300],
          "parameters": {
            "operation": "post",
            "channel": "#new-clients",
            "text": "={{ '🎉 New client: *' + $json.name + '* from ' + ($json.company || 'unknown company') + '\\nEmail: ' + $json.email + '\\nPlease schedule kickoff call within 48h.' }}",
            "otherOptions": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Webhook — New Signup": { "main": [[{ "node": "Send Welcome Email", "type": "main", "index": 0 }]] },
        "Send Welcome Email": { "main": [[{ "node": "Log to Client Sheet", "type": "main", "index": 0 }]] },
        "Log to Client Sheet": { "main": [[{ "node": "Notify Team on Slack", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  },

  "multiCrmLeadPipeline": {
    "description": "Use this pattern for B2B agencies or sales teams that scrape leads from LinkedIn using Apify, score them with AI, and sync qualified leads across multiple CRM and project management tools simultaneously. DUAL TRIGGER: A Webhook node (type: n8n-nodes-base.webhook, typeVersion: 2, httpMethod: POST) handles on-demand campaign starts AND a Schedule Trigger (type: n8n-nodes-base.scheduleTrigger, typeVersion: 1) runs daily batches — a Merge node (type: n8n-nodes-base.merge, typeVersion: 2) joins both paths. An HTTP Request node calls Apify Actor API (POST https://api.apify.com/v2/acts/apify~linkedin-profile-scraper/runs) with Bearer token auth to scrape LinkedIn profiles. A Wait node (type: n8n-nodes-base.wait, typeVersion: 1, resume: timeInterval) pauses 2 minutes for Apify to complete. Another HTTP Request fetches the Apify dataset items. An IF node checks if results are ready. A Code node parses the raw scraped profiles into clean lead objects. A SplitInBatches node (type: n8n-nodes-base.splitInBatches, typeVersion: 3, batchSize: 10) loops through leads. An HTTP Request calls Claude API to score each lead. A Code node parses the score. A Switch node (type: n8n-nodes-base.switch, typeVersion: 3) routes by score — output 0 = hot, output 1 = warm, output 2 = cold. Hot leads go to: HubSpot Create Contact (type: n8n-nodes-base.hubspot, typeVersion: 2, resource: contact, operation: create, additionalFields with lifecyclestage: salesqualifiedlead) AND ClickUp Create Task (type: n8n-nodes-base.clickUp, typeVersion: 1, resource: task, operation: create). Warm leads go to: HubSpot Create Contact (lifecyclestage: marketingqualifiedlead) AND Asana Create Task (type: n8n-nodes-base.asana, typeVersion: 1, resource: task, operation: create). All leads regardless of score go to Google Sheets Append (type: n8n-nodes-base.googleSheets, typeVersion: 4, operation: append) for unified logging. A Merge node joins all branches. A final IF node checks for errors and routes failures to a Slack alert (type: n8n-nodes-base.slack, typeVersion: 2). Gmail sends a daily summary. Best for: lead generation agencies, B2B outreach teams, sales automation platforms that manage leads across multiple CRM tools.",
    "workflow": {
      "name": "Multi-CRM Lead Scraping and Sync Pipeline",
      "nodes": [],
      "connections": {},
      "settings": { "executionOrder": "v1" }
    }
  },

  "invoiceGeneration": {
    "description": "Use this pattern to automatically generate and email invoices when a project is marked complete. A Google Sheets trigger fires when a row is updated with 'completed' status, a Code node builds the invoice data including line items and totals, and Gmail sends a formatted invoice email to the client. Best for: freelancers, agencies, consultants billing on project completion.",
    "workflow": {
      "name": "Invoice Generation and Delivery",
      "nodes": [
        {
          "id": "b8c9d0e1-0001-0001-0001-000000000001",
          "name": "Sheets Trigger — Project Complete",
          "type": "n8n-nodes-base.googleSheetsTrigger",
          "typeVersion": 4,
          "position": [200, 300],
          "parameters": {
            "documentId": "YOUR_GOOGLE_SHEET_ID",
            "sheetName": "Projects",
            "event": "rowUpdated",
            "pollTimes": { "item": [{ "mode": "everyFiveMinutes" }] },
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "b8c9d0e1-0002-0002-0002-000000000002",
          "name": "IF — Status Complete?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [440, 300],
          "parameters": {
            "conditions": {
              "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }]
            }
          }
        },
        {
          "id": "b8c9d0e1-0003-0003-0003-000000000003",
          "name": "Build Invoice",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [680, 200],
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const inv = $input.item.json;\nconst invoiceNum = 'INV-' + Date.now().toString().slice(-6);\nconst dueDate = new Date(Date.now() + 14 * 86400000).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\nconst body = `Dear ${inv.client_name},\\n\\nPlease find your invoice below.\\n\\nInvoice: ${invoiceNum}\\nProject: ${inv.project_name}\\nAmount: $${inv.amount}\\nDue: ${dueDate}\\n\\nPayment instructions: [YOUR PAYMENT LINK]\\n\\nThank you for your business!\\nThe Team`;\nreturn { json: { ...inv, invoiceNum, dueDate, emailBody: body } };"
          }
        },
        {
          "id": "b8c9d0e1-0004-0004-0004-000000000004",
          "name": "Send Invoice Email",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [920, 200],
          "parameters": {
            "operation": "send",
            "toList": "={{ $json.client_email }}",
            "subject": "={{ 'Invoice ' + $json.invoiceNum + ' — ' + $json.project_name }}",
            "message": "={{ $json.emailBody }}",
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Sheets Trigger — Project Complete": { "main": [[{ "node": "IF — Status Complete?", "type": "main", "index": 0 }]] },
        "IF — Status Complete?": { "main": [[{ "node": "Build Invoice", "type": "main", "index": 0 }], []] },
        "Build Invoice": { "main": [[{ "node": "Send Invoice Email", "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" }
    }
  }
}
